/* styling for bottom input field form */
.bottom-input-form {
  display: flex;
  justify-content: center;
  background-color: #1A2930;
}

/* styling for the input field */
.bottom-input-field {
  margin-bottom: 0.5em;
  border-radius:10px;
  font-size: 25px;
  width: 70%;
  /* width:25em; */
}