/* styling for bottom input field form */
.bottom-input-form {
  display: flex;
  justify-content: center;
  background-color: #1A2930;
}

/* styling for the input field */
.bottom-input-field {
  margin-bottom: 0.5em;
  border-radius:10px;
  font-size: 25px;
  width: 70%;
}

/* styling for input submit button */
.input-button {
  align-items: center;
  height: 45px;
  margin-bottom: 0px;
  border-radius: 10px;
}
