.listGroupItem {
    list-style-type: none;
    font-size: 1.75rem;
}

.sideBar {
  /* height:800px; */
  /* width: 400px; */
  height: 100vh;
  border: 1px solid red;
    width: 86px;
    padding-top: 20px;
  /* border-radius: 10px; */
  /* position: fixed; */
  /* bottom: 0px; */
  left: auto;
  /* right: 40px; */
  z-index: 10;
  background-color: #202020;
}


/* .LeftSidePanel {
    width: 40px;
position: fixed;
bottom: 0px;
left: auto;
right: 40px;
z-index: 10;

} */


