.listGroupItem {

     margin:0.4em; 
     border-radius:10px;
      background-color: #e9ecef;
       width: 20em;
       padding:1em;
display: inline;
    
        /* display:flexbox;
        flex-direction: row;
        justify-content: center; */

}

.userImage {
    border-radius:10px;
    width: 3.6em;
    margin:0.4em; 

}


.listGroup {
    list-style-type: none;
    display: flex;
        flex-direction: column;
        justify-content: center;
        text-decoration: none;
        align-items: center;
        background-color: #1A2930;
}



/* 1. Add a mini title for what channel everyone is on #Finished
2. switch the image to the left hand side #Finished
3.  add colored background #in-progress
4. expand the left hand side bar
5. character limit / text content should not spill over
*/