.list-container {
  margin: auto;
  list-style-type: none;
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start; */
  text-decoration: none;
  align-items: center;
  background-color: #1A2930;
  height: 90vh;
  overflow: scroll;
}

.list-item {
  margin:0.4em; 
  border-radius:10px;
  background-color: #e9ecef;
  width: 20em;
  /* padding:1em; */
  /* display: inline; */
  overflow-y: scroll;
}

.profile-pic-and-message {
  display: flex;
  flex-direction: row;
  padding-left: 80px;
}

.userImage {
  border-radius:10px;
  width: 3.6em;
  margin:0.4em; 
}

/* 1. Add a mini title for what channel everyone is on #Finished
2. switch the image to the left hand side #Finished
3.  add colored background #in-progress
4. expand the left hand side bar #in-progress
5. character limit / text content should not spill over
*/
