/* styling for the unordered list or container */
.list-container {
  margin: auto;
  list-style-type: none;
  text-decoration: none;
  align-items: center;
  background-color: #1A2930;
  height: 90vh;
  overflow: scroll;
  padding-left: 200px;
}
/* styling for each message displayed in chat window */
.list-item {
  margin:0.4em; 
  border-radius:10px;
  background-color: #e9ecef;
  width: 20em;
  padding: .5em 1em;
  overflow-wrap: break-word;
  overflow-y: scroll;
}

/* styling for the div that contains both profile pic and message */
.profile-pic-and-message {
  display: flex;
  flex-direction: row;
  align-items: flex-start;  
}

/* styling for the profile pic */
.user-image {
  border-radius:10px;
  width: 3.6em;
  margin:0.4em; 
}

/* todos
  -Add a mini title for what channel everyone is on #Finished
  -character limit / text content should not spill over
*/
