/* styling for the unordered list or container */
.list-container {
  margin: auto;
  list-style-type: none;
  text-decoration: none;
  padding-top: 125px;
  padding-bottom: 100px;
  min-height: 100vh;
  flex-direction: column-reverse;
}
/* styling for each message displayed in chat window */
.list-item {
  margin:0.4em; 
  border-radius:10px;
  background-color: #e9ecef;
  max-width: 25em;
  padding: 0.1em 1em;
  overflow-wrap: break-word;
  border: 1px solid #a6a5a2;
}

/* styling for the div that contains both profile pic and message */
.profile-pic-and-message {
  display: flex;
  flex-direction: row;
  align-items: flex-start;  
}

.profile-pic-and-message-end {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}

/* styling for the profile pic */
.user-image {
  border-radius:10px;
  width: 3.6em;
  margin: 0.4em; 
}

/* todos
  -Add a mini title for what channel everyone is on #Finished
  -character limit / text content should not spill over
*/

.list-item-divider {
  border-bottom: 1px solid rgba(99, 96, 96, 0.367) !important;
}

/* adds padding to user name */
/* .list-item-name {
  padding-right: 30px; 
} */