/* sign up container */
.sign-up-container {
  /* border: 1px solid red; */
  width: 100%;
  /* margin: 0 auto; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* sign up form */
.sign-up-form-section {
  padding: 15px;
  width: 50%;
  color: #202020;
  display: flex;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
/* styling for form text */
.sign-up-text {
  color: #fff;
}
/* styling for text linking to sign in page */
.link-text {
  padding-top: 10px;
  text-align: center;
}
/* styling for header */
.font-weight-bold {
  font-weight: 700;
  padding: 20px 0 15px 0;
}
/* media queries */
@media (max-width: 576px) {
  .sign-up-form-section {
    width: 100%;
  }
 }