/* color applied to sparrow logo */
.filterYellow {
  filter: invert(84%) sepia(81%) saturate(2592%) hue-rotate(323deg) brightness(101%) contrast(94%);
}
/* sign in container */
.sign-in-container {
  min-height: 100vh;
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sign-in-form-section {
  /* padding: 15px; */
  width: 100%;
}
.sign-in-text, .sign-in-text:hover {
  color: #fff;
  text-decoration: none;
}
.submit-btn {
  margin-top: 10px;
  margin-bottom: 25px;
}
/* styling for google button */
.google-btn {
  margin-bottom: 20px;
}
/* section that links user to sign up for account */
.link-text {
  text-align: center;
}
/* applies bold font weight */
.font-weight-bold {
  font-weight: 700;
  padding: 20px 0 15px 0;
}
/* media queries */
@media (max-width: 576px) {
  .sign-in-container {
    width: 100%;
  }
 }