/* oultine color for svg sparrow icon */
.filter-yellow {
  filter: invert(84%) sepia(81%) saturate(2592%) hue-rotate(323deg) brightness(101%) contrast(94%);
}

/* outline color for svg toggle button icon */
.filter-grey {
  filter: invert(90%) sepia(5%) saturate(137%) hue-rotate(325deg) brightness(86%) contrast(92%);
}

/* remove toggle button border to prevent it affecting logout button */
.btn-theme-toggle {
  --bs-btn-focus-box-shadow: 0 !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F7CE3F;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 0px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #F2F2F2;
;
}

input:focus + .slider {
  box-shadow: 0 0 1px #F7CE3F;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}