.navbarContainer {
  background-color: #202020;
  display: flex;
  align-items: center;
}
.navText {
  color: #fff;
  font-size: 2rem;
  margin-top: 1rem !important;
}
.navButton, .navButton:hover {
  background-color: #C5C1C0 !important;
  border-color: #C5C1C0 !important;
  color: #2B2B2B !important;
}


.Channels {
  background-color: #1A2930 ;
  color: #fff;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.50rem;
}

.logoImg {
  border-radius: 5%;
}

